{% extends 'BlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About symfonyblog</h1>
    </header>
    <article>
        <p>
            symfonyblog is just a website built to practice the Symfony PHP framework, which I think is 
            one of the best PHP frameworks out there. It needs some time to get used to, but once you get a good
            grasp over it's philosophy and principles, you will find it very interesting and fun.
        </p>
    </article>
{% endblock %}